Package: me.devbug.subtlekodate
Name: SubtleKoDate
Depends: mobilesubstrate (>= 0.9.6100), firmware (>= 9.0), com.iexiled.subtlelock
Version: 0.1
Architecture: iphoneos-arm
Description: Show valid ko_KR date format for SubtleLock
Maintainer: deVbug
Author: deVbug
Section: Tweaks
